{% extends 'template.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/notices.css">
 <!-- Main content -->
 <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
    <header class="bg-surface-primary border-bottom pt-6">
        <div class="container-fluid">
            <div class="mb-npx">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                        <!-- Title -->
                        <h1 class="h2 mb-0 ls-tight">Welcome Admin</h1>
                    </div>
                    
                </div>
                <!-- Nav -->
                <ul class="nav nav-tabs mt-4 overflow-x border-0">
                </ul>
            </div>
        </div>
    </header>
    <!-- Main -->
  
 <div class="container"> <!-- open container -->
   <div class="row"> <!--  open row -->
     
     <div id="form-header" class="col-12">
       <h3 id="title">Add Notice</h3>
     </div>
   </div> <!--  close row --> 
  
  <div class="row"> <!--  open row -->    
      <div id="form-tagline" class="col-md-4">
          <div class="form-tagline">
              <i class="fa fa-envelope fa-5x"></i>
          </div>
      </div>
     
          <div id="form-content" class="col-md-8">
        
            <form id="notice-form" onsubmit="return false;">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="notice-number">Notice Number:</label>
                    </div>
            
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-number"><i class="fa fa-file-alt"></i></span>
                        </div>
                        <input id="notice-number" type="text" class="form-control" placeholder="Enter notice number" name="notice-number" required>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="notice-title">Notice Title:</label>
                    </div>
            
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-title"><i class="fa fa-heading"></i></span>
                        </div>
                        <input id="notice-title" type="text" class="form-control" placeholder="Enter notice title" name="notice-title" required>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="date-of-issue">Date of Issue:</label>
                    </div>
            
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-date"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="date" class="form-control" id="date-of-issue" name="date-of-issue" required>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="notice-body">Notice Body:</label>
                    </div>
            
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-body"><i class="fa fa-align-left"></i></span>
                        </div>
                        <textarea class="form-control" rows="5" id="notice-body" name="notice-body" required></textarea>
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-12 submit-button">
                        <button type="submit" id="submit" class="btn d-inline-flex btn-sm btn-primary mx-1" aria-pressed="true">Submit Notice</button>
                    </div>
                </div>
            </form>
            

        </div> <!-- close form content div -->
           
  </div> <!-- close row -->
</div><!--  close container -->


{% endblock %}


   