{% extends 'template.html' %}

{% block title %}Add Notices{% endblock %}
{% block heading %}Add Notices{% endblock %}

{% set header = True %}
{% set actions = False %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/notices.css">
 <!-- Main content -->
 <div class="h-screen flex-grow-1 overflow-y-lg-auto">
  
 <div class="container"> <!-- open container --> 
  <div class="row"> <!--  open row -->    
      <div id="form-tagline" class="col-md-4">
          <div class="form-tagline">
              <i class="fa fa-envelope fa-5x"></i>
          </div>
      </div>
     
          <div id="form-content" class="col-md-8">
        
            <form id="notice-form" method="post" action="/add_notice" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="notice_number">Notice Number:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-number"><i class="fa fa-file-alt"></i></span>
                        </div>
                        <input id="notice_number" type="text" class="form-control" placeholder="Enter notice number" name="notice_number" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="sender">Sender:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-sender"><i class="fa fa-user"></i></span>
                        </div>
                        <input id="sender" type="text" class="form-control" placeholder="Enter sender" name="sender" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="to">To:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-to"><i class="fa fa-user-friends"></i></span>
                        </div>
                        <input id="to" type="text" class="form-control" placeholder="Enter recipients" name="to" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="cc">CC:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-cc"><i class="fa fa-user-friends"></i></span>
                        </div>
                        <input id="cc" type="text" class="form-control" placeholder="Enter CC recipients" name="cc" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="date_of_notice">Date of Notice:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-date"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="date" class="form-control" id="date_of_notice" name="date_of_notice" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="title">Title:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-title"><i class="fa fa-heading"></i></span>
                        </div>
                        <input id="title" type="text" class="form-control" placeholder="Enter title" name="title" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="description">Description:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-description"><i class="fa fa-align-left"></i></span>
                        </div>
                        <textarea class="form-control" rows="5" id="description" name="description" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="signe">Signed By:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-signe"><i class="fa fa-signature"></i></span>
                        </div>
                        <input id="signe" type="text" class="form-control" placeholder="Enter signer" name="signe" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="date_of_expiry">Date of Expiry:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-expiry"><i class="fa fa-calendar-times"></i></span>
                        </div>
                        <input type="date" class="form-control" id="date_of_expiry" name="date_of_expiry" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <label class="control-label" for="file">File:</label>
                    </div>
                    <div class="input-group col-sm-9">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon-file"><i class="fa fa-file"></i></span>
                        </div>
                        <input id="file" type="file" class="form-control" name="file" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 submit-button">
                        <button type="submit" id="submit" class="btn d-inline-flex btn-sm btn-primary mx-1" aria-pressed="true">Submit Notice</button>
                    </div>
                </div>
            </form>
            

        </div> <!-- close form content div -->
           
  </div> <!-- close row -->
</div><!--  close container -->


{% endblock %}