<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin_dashboard.css">
    <link rel="stylesheet" href="../static/javascript/admin_dashboard.js"> 
</head>
<body>

<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <div class="text-center">
                <img src="../static/images/campus_companion_logo.png" alt="..." width="120px" height="70px">
            </div>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_dashboard">
                            <i class="bi bi-house"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/students">
                            <i class="bi bi-people"></i> Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faculty">
                            <i class="bi bi-people"></i> Faculty
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/notices">
                            <i class="bi bi-clipboard"></i> Notices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules_and_procedures">
                            <i class="bi bi-file-earmark-text"></i> Rules and Procedures
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/opportunities">
                            <i class="bi bi-bar-chart-steps"></i> Opportunities
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/previous_year__papers">
                            <i class="bi bi-bookmarks"></i> Previous Year Papers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/peer_tutoring">
                            <i class="bi bi-pencil-square"></i> Peer Tutoring
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-square"></i> Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="bi bi-box-arrow-left"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Main content goes here -->
    {% block content %}{% endblock %}
</div>
</body>

</html>



